@mixin button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  padding: 10px 15px;
	border: 1px solid #999;
  user-select: none;
  text-transform: uppercase;

  &:hover {
    background: rgba($color: white, $alpha: 0.3);
  }

  @media (max-width: 600px) {
    padding: 8px 12px;
  }
}

@mixin wrapper {
  box-sizing: border-box;
  max-width: 1400px;
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 600px) {
    padding: 0 15px;
  }
}
